{% extends 'base.html' %}

{% block title %} 
    {{ title }}
{% endblock %}

{% block content %}
<main>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumbs mb-4"> <a href="{{ url_for('main.home') }}">Home</a>
					{% if page_type == 'category' %}
                    <span class="mx-1">/ Category</span>
                    <span class="mx-1">/</span>  <a href="#!">{{ category.name }}</a>
                    {% elif page_type == 'author' %}
                    <span class="mx-1">/ Author</span>
                    <span class="mx-1">/</span>  <a href="#!">{{ user.username }}</a>
                    {% elif page_type == 'search' %}
                    <span class="mx-1">/ Search</span>
                    <span class="mx-1">/</span>  <a href="#!">Articles</a>
                    {% endif %}
					</div>
					{% if page_type == 'category' %}
                        <h1 class="mb-5">Showing posts from <span class="text-primary">{{ category.name }}</span></h1>
                    {% elif page_type == 'author' %}
                        <h1 class="mb-5">Posts by <span class="text-primary">{{ user.username }}</span></h1>
                    {% elif page_type == 'search' %}
                        <h1 class="mb-5"><span class="text-primary">{{ title }}</span></h1>
                    {% endif %}
				</div>
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="row">
                        {% if posts.total > 0 %}
                            {% for post in posts %}
                                <div class="col-md-6 mb-4">
                                    <article class="card article-card article-card-sm h-100">
                                        <a href="{{ url_for('main.article', slug=post.slug) }}">
                                        <div class="card-image">
                                            <div class="post-info">
                                                <span class="text-uppercase">{{ post.date_posted.strftime('%d %b %Y') }}</span>
                                                <span>{{ post.views }} views</span>                                    
                                            </div>
                                            <img loading="lazy" decoding="async" src="{{ url_for('main.uploaded_file', filename=post.image_filename) }}" alt="Post Thumbnail" class="w-100">
                                        </div>
                                        </a>
                                        <div class="card-body px-0 pb-0">
                                        <ul class="post-meta mb-2">
                                            {% for category in post.categories %}
                                                <li> <a href="{{ url_for('main.category', category_slug=category.slug) }}">{{ category.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        <h2><a class="post-title" href="{{ url_for('main.article', slug=post.slug) }}">{{ post.title }}</a></h2>
                                        <p class="card-text">{{ post.content | truncate(150) | safe }}</p>
                                        <p class="my-2 text-sm">author: <a href="{{ url_for('main.author_posts', username=post.author.username) }}">{{ post.author.username }}</a></p>
                                        <div class="content"> <a class="read-more-btn" href="{{ url_for('main.article', slug=post.slug) }}">>Read Full Article</a>
                                        </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="col-12 text-center mt-5 ">
                            <h2 class="text-muted opacity-75">No posts found...</h2>
                        </div>
                        {% endif %}
					</div>
                    {% if posts.pages > 1 %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <nav class="mt-4">
                                    <!-- pagination -->
                                    <nav class="mb-md-50">
                                        <ul class="pagination justify-content-center">
                                            {% if posts.has_prev %}
                                                <li class="page-item">
                                                    <a class="page-link" href="
                                                    {% if page_type == 'author' %}
                                                        {{ url_for('main.author_posts', username=user.username, page=posts.prev_num) }}
                                                    {% elif page_type == 'category' %}
                                                        {{ url_for('main.category', category_slug=category.slug, page=posts.prev_num) }}
                                                    {% elif page_type == 'search' %}
                                                        {{ url_for('main.search', s=search_query, page=posts.prev_num) }}
                                                    {% endif %}
                                                    " aria-label="Previous">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                                        </svg>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            
                                            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                                {% if page_num %}
                                                    {% if posts.page == page_num %}
                                                        <li class="page-item active">
                                                            <a class="page-link" href="
                                                            {% if page_type == 'author' %}
                                                                {{ url_for('main.author_posts', username=user.username, page=page_num) }}
                                                            {% elif page_type == 'category' %}
                                                                {{ url_for('main.category', category_slug=category.slug, page=page_num) }}
                                                            {% elif page_type == 'search' %}
                                                                {{ url_for('main.search', s=search_query, page=page_num) }}
                                                            {% endif %}
                                                            ">{{ page_num }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="
                                                            {% if page_type == 'author' %}
                                                                {{ url_for('main.author_posts', username=user.username, page=page_num) }}
                                                            {% elif page_type == 'category' %}
                                                                {{ url_for('main.category', category_slug=category.slug, page=page_num) }}
                                                            {% elif page_type == 'search' %}
                                                                {{ url_for('main.search', s=search_query, page=page_num) }}
                                                            {% endif %}
                                                            ">{{ page_num }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">...</span></li>
                                                {% endif %}
                                            {% endfor %}
                                            
                                            {% if posts.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="
                                                    {% if page_type == 'author' %}
                                                        {{ url_for('main.author_posts', username=user.username, page=posts.next_num) }}
                                                    {% elif page_type == 'category' %}
                                                        {{ url_for('main.category', category_slug=category.slug, page=posts.next_num) }}
                                                    {% elif page_type == 'search' %}
                                                        {{ url_for('main.search', s=search_query, page=posts.next_num) }}
                                                    {% endif %}
                                                    " aria-label="Next">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                        </svg>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endif %}
				</div>
                <div class="col-lg-4">
                    <div class="widget-blocks">
                        <div class="row">
                            {% set sidebar_data = {'categories': categories, 'popular': popular, 'random_posts':random_posts} %}
                            {% include 'includes/sidebar.html' %}
                        </div>
                    </div>
                </div>
                
			</div>
		</div>
	</section>
</main>
{% endblock %}